@import "tailwindcss";

html{
  background-color: #EEF0F4;
}

.signIn {
  background: linear-gradient(90.91deg, #00bfff 14.63%, #3dded2 108.61%);
  box-shadow:
    0px 1px 2px 0px #1018280d,
    0px -2px 0px 0px #1018280d inset,
    0px 0px 0px 0px #1018282e inset;
}


@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.2s ease-in-out infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.2s ease-in-out infinite;
}


.authBox {
  box-shadow: 0px 0px 20px 0px #00000014;
}

@media (max-width: 1023px) {
  .authBox {
    box-shadow: none;
  }
}
